/*--------------------------------------------------------------
# neighborhood search bar
--------------------------------------------------------------*/
.search-bar {
  border: 2px solid #2eca6a;
  border-radius: 8px; 
  background-color: rgba(255, 255, 255, 0.8);
}

.universe-dropdown {
  border: 2px solid #4154f1;
  border-radius: 8px; 
  background-color: rgba(255, 255, 255, 0.8);
}

.input-group .form-select {
  border-radius: 0.25rem 0 0 0.25rem; /* Rounded corners on the left side only */
  margin-right: -1px; /* This helps the dropdown blend with the adjacent button */
}

.input-group .btn {
  border-radius: 0; /* Square corners for middle buttons */
}

/* For the last button in the group (toggle off button in this case) */
.input-group .btn:last-child {
  border-radius: 0 0.25rem 0.25rem 0; /* Rounded corners on the right side only */
}

/* Adjust the z-index if you have issues with borders between buttons */
.input-group .btn, .input-group .form-select {
  position: relative;
  z-index: 2;
}

/* Fix for button active state to overlap the border of the dropdown */
.input-group .btn.active {
  z-index: 3;
}

/*--------------------------------------------------------------
# toggle universe visibility layers
--------------------------------------------------------------*/

.universe-dropdown .button-container-universe .icon-btn {
  color: #eef2f4;
  padding: 5px 10px;
  transition: 0.3s;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 8px; /* Rounded corners */
}

/* Active tile layer button */
.dashboard .button-container-universe .icon-btn.active {
  background-color: #4154f1;
  color: #eef2f4;
}

/* Inactive tile layer button */
.dashboard .button-container-universe .icon-btn.inactive {
  background-color: #eef2f4;
  color: #6b6b78;
}

/*--------------------------------------------------------------
# toggle map view tile containers
--------------------------------------------------------------*/
  
/* Dashboard map button container */
.dashboard .button-container-tile {
  border: 2px solid #748e9d; /* Example border */
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
}

.dashboard .button-container-tile .icon-btn {
  color: #eef2f4;
  padding: 5px 10px;
  transition: 0.3s;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 8px; /* Rounded corners */
}

/* Active tile layer button */
.dashboard .button-container-tile .icon-btn.active {
  background-color: #748e9d;
  color: #eef2f4;
}

/* Inactive tile layer button */
.dashboard .button-container-tile .icon-btn.inactive {
  background-color: #eef2f4;
  color: #6b6b78;
}

/*--------------------------------------------------------------
# toggle layer selection method
--------------------------------------------------------------*/

/* dashboard map button container */
.dashboard .button-container-select {
  border: 2px solid #fec00f; /* Example border */
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
}
  
.dashboard .button-container-select .icon-btn {
  color: #eef2f4;
  padding: 5px 10px;
  transition: 0.3s;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 8px; /* Rounded corners */
}
  
/* active tile layer button */
.dashboard .button-container-select .icon-btn.active {
  background-color: #fec00f; /* Green background for active button */
  color: #eef2f4; /* White text for better contrast */
}
  
.dashboard .button-container-select .icon-btn.inactive {
  background-color: #eef2f4; /* Grey background for inactive button */
  color: #6b6b78; /* Original color */
}
  
/*--------------------------------------------------------------
# filter
--------------------------------------------------------------*/

/* Filter dropdown */
.dashboard .filter {
  position: absolute;
  right: 0px;
  top: 15px;
}

.dashboard .filter .icon {
  color: #aab7cf;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}

.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus {
  color: #4154f1;
}

.dashboard .filter .dropdown-header {
  padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}

.dashboard .filter .dropdown-item {
  padding: 8px 15px;
}

