
/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
  }
  
  @media (max-width: 1199px) {
    .sidebar {
      left: -300px;
    }
  }
  
  .sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
  }
  
  @media (min-width: 1200px) {
  
    #main,
    #footer {
      margin-left: 300px;
    }
  }
  
  @media (max-width: 1199px) {
    .toggle-sidebar .sidebar {
      left: 0;
    }
  }
  
  @media (min-width: 1200px) {
  
    .toggle-sidebar #main,
    .toggle-sidebar #footer {
      margin-left: 0;
    }
  
    .toggle-sidebar .sidebar {
      left: -300px;
    }
  }
  
  .sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebar-nav .nav-item {
    margin-bottom: 5px;
  }
  
  .sidebar-nav .nav-heading {
    font-size: 11px;
    text-transform: uppercase;
    color: #899bbd;
    font-weight: 600;
    margin: 10px 0 5px 15px;
  }
  
  .sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #2b2c42;
    transition: 0.3;
    background: #f6f9ff;
    padding: 10px 15px;
    border-radius: 4px;
  }
  
  .sidebar-nav .nav-link i {
    font-size: 16px;
    margin-right: 10px;
    color: #2b2c42;
  }
  
  .sidebar-nav .nav-link.collapsed {
    color: #2b2c42;
    background: #fff;
  }
  
  .sidebar-nav .nav-link.collapsed i {
    color: #899bbd;
  }
  
  .sidebar-nav .nav-link:hover {
    color: #2b2c42;
    background: #f6f9ff;
  }
  
  .sidebar-nav .nav-link:hover i {
    color: #2b2c42;
  }
  
  .sidebar-nav .nav-link .bi-chevron-down {
    margin-right: 0;
    transition: transform 0.2s ease-in-out;
  }
  
  .sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
  }
  
  .sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #2b2c42;
    transition: 0.3;
    padding: 10px 0 10px 40px;
    transition: 0.3s;
  }
  
  .sidebar-nav .nav-content a i {
    font-size: 6px;
    margin-right: 8px;
    line-height: 0;
    border-radius: 50%;
  }
  
  .sidebar-nav .nav-content a:hover,
  .sidebar-nav .nav-content a.active {
    color: #2b2c42;
  }
  
  .sidebar-nav .nav-content a.active i {
    background-color: #2b2c42;
  }

  /*--------------------------------------------------------------
# info cards
--------------------------------------------------------------*/

.sidebar-nav .info-card {
  padding-bottom: 1px;
}

.sidebar-nav .info-card h6 {
  font-size: 24px;
  color: #2b2c42;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.sidebar-nav .card-icon {
  font-size: 24px;
  line-height: 0;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  flex-grow: 0;
}

.sidebar-nav .id-card {
  padding-top:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 16px;
  color: #eef2f4;
  background: #2b2c42;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.sidebar-nav .reg-card .card-icon {
  color: #4154f1;
  background: #f6f6fe;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.sidebar-nav .street-card .card-icon {
  color: #eb701f;
  background: #fceadd;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.sidebar-nav .targets-card .card-icon {
  color: #d71f2d;
  background: #f9dde0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.sidebar-nav .surveys-card .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
  